<footer class="bg-dark text-white text-center py-3 mt-auto" >
    <div class="container text-center">
        <p class="mb-1">&copy; 2025 Welcome to E-Shop. All rights reserved.</p>
        <div class="mb-1">
            <a href="#" class="text-light me-2"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="text-light me-2"><i class="fab fa-twitter"></i></a>
            <a href="#" class="text-light me-2"><i class="fab fa-instagram"></i></a>
            <a href="#" class="text-light"><i class="fab fa-linkedin-in"></i></a>
        </div>
        
    </div>
</footer>
